*{
    margin: 0;
    padding: 0;
}

body{
  background-color: black;  
}

.nav-bar{
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.nav-bar__links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:30vw
}

.nav-bar__links__link{
object-fit: cover;
}

main{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;

}

.main__left-section{
    width: 50vw;
    height: 70vh;
}

.main__right-section{
    width: 50vw;
    height: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__right-section__botao-criar-tarefa{
    width: 30vw;
    padding: 2rem;
    background-color: aquamarine;
    color: white;
    font-size:xx-large;
    border-color: transparent;
    border-radius: 15px;
}