*{
    margin: 0;
    padding: 0;
}

:root {
    --bg: white;
    --bg2: black;
    --btn:#2FAEBF;
  }
  

body{
  background-color: var(--bg);  
  height: 100vh;
  width: 100vw;
}

.nav-bar{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 100vw;

}

.nav-bar__links{
    display: flex;
    justify-content: space-between;
    height: 90%;
    gap:12px;
    align-items: center;
    background-color: blueviolet;

}


.nav-bar__links__link{
    width: auto;
    height: 100%;
    object-fit: contain;
    background-color: crimson;
}

.nav-bar__links__link__img{
    width: auto;
    height: 100%;
    object-fit: contain;
}

main{
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;


}

/* .main__left-section{
    width: 50vw;
    height: 70vh;

} */

.main__right-section{
    /* width: 40vw;
    height: 100%;   */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

.main__right-section__botao-criar-tarefa{
    /* width: 25vw; */
    padding: 1rem;
    background-color: var(--btn);
    color: white;
    font-size: xx-large;
    border-color: transparent;
    border-radius: 15px;
}


/* @media(min-width: 834px){
    body{
        background-color: aqua;
    }
}

@media(min-width: 1440px) {
    body{
        background-color: pink;
    }
} */